@model Wymieniator.ViewModels.HomeViewModel

@{
    ViewBag.Title = "Index";
}

<!-- Sidebar -->
<ul class="sidebar navbar-nav">
    @foreach (var category in Model.Categories)
    {
        <li class="nav-item">
            <a class="nav-link" href="index.html">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>@category.Name</span>
            </a>
        </li>
    }
</ul>

<div id="content-wrapper">

    <div class="container-fluid">

        @foreach (var list in Model.NewBooksFromCategories)
        {
            <h2>@list.ElementAt(0).Category.Name</h2>
            <div class="row mb-2 card-deck">
                @foreach (var element in list)
                {
                    <div class="col-sm">
                        <div class="card">
                            <img class="card-img-top" src="..." alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">@element.Title</h5>
                                <p class="card-text">@element.ShortDescription</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
         @*@for (int i = 0; i < Model.NewBooksFromCategories.Count(); i++)
            {
                var element = Model.NewBooksFromCategories.ElementAt(i);

                <div class="row">

                </div>


                @if(@(Model.NewBooksFromCategories.ElementAt(i).Category.Name != Model.NewBooksFromCategories.ElementAt(i - 1).Category.Name ? "row" : String.Empty))

                if (i > 0)
                {
                    <div style="width: 18rem;" class="card">
                        <img class="card-img-top" src="..." alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">@element.Title</h5>
                            <p class="card-text">@element.ShortDescription</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                }
                else
                {
                    <div class="card row" style="width: 18rem;">
                        <img class="card-img-top" src="..." alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">@element.Title</h5>
                            <p class="card-text">@element.ShortDescription</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                }
            }*@
    </div>
</div>
